<!DOCTYPE html>
<html>
  <head>
    <title>Video Metadata Engine</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="header container">
        <h1 class="logo">VME 🚀</h1>

        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/#about">About</a>
            </li>
            <li>
              <a href="/#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- hero section -->
    <div class="hero">
      <h1>Video Metadata Engine</h1>
      <p>
        A Metadata Engine which takes a large amount of raw HD video footage,
        generate useful and well-defined metadata for each video file, each
        distinct moment called frame in each video file.
      </p>

      <div class="cta-group">
        <a href="#" class="cta">Documentation</a>
        <a href="#" class="cta cta-rev">Try now</a>
      </div>
    </div>

    <!-- workspace -->

    <!-- contribution -->

    <!-- contact -->

    <!-- footer -->
    <div class="container">
      <h1>Video Metadata Engine</h1>
      <div class="upload-section">
        <input type="file" id="video-input" accept=".mp4, .avi, .mov" />
        <button onclick="processVideo()" id="process-btn">Process Video</button>
        <button
          onclick="downloadMetadata()"
          id="download-metadata-btn"
          style="display: none"
        >
          Download Metadata
        </button>
      </div>
      <div id="message"></div>
    </div>

    <script>
      function processVideo() {
        var videoFile = document.getElementById('video-input').files[0];
        var formData = new FormData();
        formData.append('video', videoFile);

        var processBtn = document.querySelector('#process-btn');
        var downloadBtn = document.querySelector('#download-metadata-btn');
        var messageDiv = document.querySelector('#message');

        processBtn.disabled = true;

        fetch('/process-video', {
          method: 'POST',
          body: formData,
        })
          .then((response) => {
            if (response.ok) {
              return response.text();
            } else {
              throw new Error('Something went wrong');
            }
          })
          .then((data) => {
            messageDiv.innerHTML = data;
            downloadBtn.style.display = 'inline';
          })
          .catch((error) => {
            console.error('Error:', error);
            messageDiv.innerHTML = 'An error occurred during video processing.';
          })
          .finally(() => {
            processBtn.disabled = false;
          });
      }

      function downloadMetadata() {
        window.location.href = '/download-metadata';
      }
    </script>
  </body>
</html>
